body {
  background-image: url("/images/mathematics.jpg");
  background-size: cover;
}

.box {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.text {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5%;
  text-align: center;
  width: 70%;
  width: 800px;
  height: 550px;
  font-family: "Courier New";
  color: black;
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 20px;
}

#enter {
  position: relative;
  right: 140px;
}

#solved {
  position: relative;
  left: 115px;
}

.sudokus {
  display: inline-flex;
  width: 750px;
  min-width: 750px;
}

#sudokuEntry {
  display: inline;
  border: solid black 5px;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 10px;
  min-width: 285px;
  height: 285px;
}

#arrow {
  position: relative;
  top: 120px;
  display: inline-flex;
  height: 15%;
  width: 15%;
  min-width: 50px;
}

#solvedSudoku {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid black 5px;
  border-radius: 5px;
  padding: 10px;
  max-width: 285px;
  height: 285px;
}

.isSolved {
  background-color: bisque;
}

.isNotSolved {
  background-color: antiquewhite;
}

.rowbreak {
  height: 10px;
  width: 100%;
}

input {
  font-size: 18px;
  font-family: "Courier New";
  font-weight: bold;
  color: "";
  background-color: "";
}

.rowbreak {
  line-height: 5px;
}

input {
  width: 15px;
  height: 15px;
  padding: 5px;
}

#solve {
  padding: 5px;
  position: relative;
  bottom: 150px;
  background-color: rgb(45, 194, 253);
  border-radius: 5px;
  border: solid black;
  font-family: "Courier New";
}

#reset {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 45px;
  bottom: 55px;
  background-color: rgba(255, 232, 130, 0.555);
  border-radius: 5px;
  border: solid black;
  font-family: "Courier New";
}

#getSudoku {
  padding: 5px;
  position: relative;
  right: 168px;
  bottom: 55px;
  background-color: rgba(130, 255, 203, 0.555);
  border-radius: 5px;
  border: solid black;
  font-family: "Courier New";
}

#link {
  padding: 5px;
  position: relative;
  right: 177px;
  bottom: 55px;
  width: 200px;
  font-size: 11px;
  border-radius: 5px;
  border: solid black;
  font-family: "Courier New";
}

#message {
  position: relative;
  bottom: 55px;
  border: none;
  border-radius: 3px;
  padding: 3px;
  display: inline-flex;
  color: black;
}

.solvedCellFinal {
  display: block;
  background-color: white;
  border-width: 0.5px;
  border-style: inset;
  border-color: black;
  border-radius: 2px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  padding: 6px;
}
.solvedCellFinalFail {
  display: block;
  background-color: rgba(255, 0, 0, 0.6);
  border-width: 0.5px;
  border-style: inset;
  border-color: black;
  border-radius: 2px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  padding: 6px;
}

.solvedRow {
  display: flex;
  justify-content: center;
}

.loaderContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 800px;
  height: 750px;
}

.loaderBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 730px;
  height: 440px;
}

.loaderPinpoint {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 312px;
}

#loader {
  left: 80vw;
  border: 75px solid hsl(0, 0%, 95%, 75%); /* Light grey */
  border-top: 75px solid rgb(45, 194, 253, 75%);
  border-bottom: 75px solid rgb(45, 194, 253, 75%);
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: spin 1.75s linear infinite;
}

.loaderInvisible {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
